 *{
	
	box-sizing: border-box;
	text-transform: uppercase;
	font-size:16px;
	color:white;
	margin: 0;
	padding:0;

}

img{
	width:100%;
}



footer{
   background-color:#023eab;
   margin:0;
   padding:0;

  
}



.address,.contact span{
	font-size:1.3rem;
}
.address{
	font-weight:200;
}

.contact{
   font-weight:600;
}

.contact span i{
	margin-right:0.5rem;
	background-color:white;
	padding:0.2rem;
	border-radius:0.7rem;
	color:#023eab;
}

.social-icons{
	background-color:white;
	padding:0.5rem;
	border-top-right-radius:0.4rem;
	border-top-left-radius:0.4rem;
	
	}

.social-icons span i{
	color:#023eab;
	font-size:1rem; 
	margin:0rem 1rem;
}
  

.address,.contact span{
	font-size:1.3rem;
}
.address{
	font-weight:300;
}

.contact{
   font-weight:500;
}

.contact span i{
	margin-right:0.5rem;
	background-color:white;
	padding:0.4rem;
	border-radius:0.9rem;
	color:#023eab;
}

.social-icons{
	background-color:white;
	padding:0.5rem;
	border-top-right-radius:0.4rem;
	border-top-left-radius:0.4rem;
	}

.social-icons span i{
	color:#023eab;
	font-size:1rem; 
	margin:0rem 1rem;
}


@media (max-width: 600px){
	
}

}





